.movieContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.movieItem {
  width: 220px;
  background-color: orangered;
}

.movieImage {
  padding: 10px;
}

.movieText {
  padding-left: 10px;
  padding-bottom: 10px;
}

.movieLink {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.movieItem:hover {
  background-color: rgb(245, 243, 243);
}

.movieLink:hover {
  color: orangered;
}
